@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A2D2FF;
}
#lbl {
    font-size: 100px;
}